.container {
    background-color: black;
    /* height: 100vh; */
    color: #5c326a;
}

.row {
    padding-top: 6rem;
}

.fab {
    color: #5c326a;
}

.card {
    background-color: #0D1117;
}

span {
    color: #5c326a;
}

p {
    color: #1157C2;
}